GRAFANA_PORT=13000
ALLOY_PORT=12345
LOKI_PORT=13100
TEMPO_PORT=13200
MIMIR_PORT=13300
OTLP_HTTP_PORT=4318

INFISICAL_API_URL=http://host.docker.internal:18080
INFISICAL_PROJECT_ID=
INFISICAL_ENV=prod
INFISICAL_PATH=/runtime
INFISICAL_TOKEN=
